/* General */

body {
	font-family: 'open sans', sans-serif;
	font-weight: 400;
	font-size: 0.8em;
	color: #0A4F72;
	background-color:#85d4ed;
	text-align: justify;
}
img {
	max-width: 100%;
}
a:link {
	color: #0A4F72;
	text-decoration: none;
}
a:hover {
	color: #0E2C41;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}

   
     a#project {
    
    color: #68B1D4;
    
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    
    a#project:hover {
   
    color: #0A4F72;

    }



/* Nav */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#ffffff;
		background-image:url('../images/brillant.png');
	z-index:100;
	color: #68B1D4;
	border-bottom-width:0px;
  border-bottom-style: solid ;
  border-bottom-color:#0A4F72;
	}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #0A4F72;
}

.navigation .active{
	cursor:pointer;
	color:#68B1D4;
	
}




/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
	
	
}




/* Home */ 

#slide1{
background-image:url('../images/topbanner.png');
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #0A4F72 0%, #68B1D4 50%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #0A4F72 0%, #68B1D4 50%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #0A4F72 0%, #68B1D4 50%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0., #0A4F72), color-stop(0.5, #68B1D4), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #0A4F72 0%, #68B1D4 50%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #0A4F72 0%, #68B1D4 50%, #FFFFFF 100%);

	color:#ffffff;
	
}
#slide1 h1 {
	font-size: 3.3em;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
	text-transform: uppercase;
	padding-top:0px;
	letter-spacing:1.5px;
}
#slide1 h2 {
	font-size: 1.2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:0px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing:1px;
}




/* Projects */ 

#slide2{
	background-color:#ffffff;
	background-image:url('../images/brillant.png');
	
}
#slide2 h1 {
	font-size: 3.0em;
	letter-spacing: 1.5px;
	line-height: 0px;
	color:#0A4F72;
	font-weight: 700;
	
}
#slide2 h2 {
	font-size: 1.0em;
	color: #68B1D4;
	
	padding-bottom:20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 3px;
	
	
}

#slide2 h3 {
	font-size: 1em;
	color: #0A4F72;
	line-height: 0px;
	padding-bottom:10px;
	padding-top: 5px;
	font-weight: 700;
	text-transform: uppercase;
}




#slide2 h4 {
	
	color: #0A4F72;
	font-weight: 200
}

/* About */ 

#slide3{
	background-color: #68B1D4;
	
}

 #bio {
    font-size: 1.2em;
    color: #ffffff;
    padding-top: 20px;
  text-align: justify;
 
    
  }
  
  
    

#slide3 h1 {
	font-size: 3.0em;
	letter-spacing: 1.5px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 1.0em;
	color: #0A4F72;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 3px;
}



 a#resume {
    text-decoration: none;
    color: #0A4F72;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size:1.4em;
    text-transform: normal;
   
   
  
    border-radius: 7px;
    padding: 0px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    
    a#resume:hover {
   
    color: #ffffff;
    
     
    }
    
    


/* Contact */

#slide4{
	background-image:url('../images/suglasses.png');
	background-color:#0A4F72;
	color:#ffffff;
	
}
#slide4 h1 {
	font-size: 3.0em;
	letter-spacing: 1.5px;
	line-height: 0px;
	color:#68B1D4;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 1.0em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 3px;
}



#slide4 h4 {
	font-size: 1.2em;
color: #68B1D4;
	line-height: 30px;
	padding-bottom:20px;
	font-weight: 400;
	text-transform: lowercase;
} 



/* Crafty Devil */

.slide5{
	background-image:url('../images/suglasses.png');
	background-color:#85d4ed;
	color:#ffffff;
	height: 30px;

	
	
}

.slide5 h2 {
	font-size: 1.0em;
	color: #0A4F72;
	line-height: 0px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 50px;
	
}






.slide5 a {

color: #0A4F72;
}

.slide5 a:hover {
border-bottom: 1px solid #0A4F72;

} 


a#company {
    font-style: none;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
    border-bottom: none;
}
 
 
 a#company:hover {
   
border-bottom: 1px solid #ffffff;
    
     
 }


footer{ 
  font-size: 0.9em;
  text-align: center;   
  margin-top:100px;
   display:block; }   


a#socialmedia {
    text-decoration: none;
    color: #ffffff;

    font-weight: 300;
    font-size:30px;
    
    border-radius: 7px;
    padding: 10px 15px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    
     a#socialmedia:hover {
    color: #68B1D4; }
    
     a#contact {
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size:20px;
    border: 3px solid #68B1D4;
     background: #0A4F72;
    border-radius: 7px;
    padding: 10px 15px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    
    a#contact:hover {
    background: #68B1D4; 
    color: #0A4F72;
     border: 0px solid #ffffff;
    }

 


/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

.slide5 h2 {
	font-size: 1.0em;
	color: #0A4F72;
	line-height: 1em;
	letter-spacing: 1px;
	padding-top: 50px;
	
}





}




/* Mobile */
@media screen and (max-width: 480px) {




#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;

}





#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1.5em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1.5em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1.5em;
}
.slide5 h2 {
	line-height: 1.5em;
	padding-top: 30px;
}


}

#skills li {


		list-style: none;
	}
	
	

#skills{
		
		
	
	}
		#skills li {
			padding: 8px 5px;
			margin-bottom:7px;
			background:#ffffff; 
		}
			#skills .html5 {
				width:242px;
				opacity: .95;}
			#skills .php {
				width:111px;
				opacity: .45;}
			#skills .jquery {
				width:160px;
				opacity: .65;}
			#skills .ui {
				width:242px;
				opacity:.95 ;}
			#skills .social {
				width:242px;
				opacity: .95;}
			#skills .dream {
				width:230px;
				opacity: .90;}
			#skills .photo {
				width:242px;
				opacity: .95;}
			#skills .illustrate {
				width:160px;
				opacity: .65;}
			#skills .office {
				width:242px;
				opacity: .95;}
				#skills .iwork{
				width:242px;
				opacity: .95;}
				#skills .texteditor{
				width:242px;
				opacity: .95;}

